<% extend('./layouts/layout') %>

<div class="hex-blog">
  <h1><%= title %></h1>
  <a href="/">回到部落格首頁</a>
</div>



<!-- <h1><%= message %></h1>
<h2><%= error.status %></h2>
<pre><%= error.stack %></pre> -->
